body {background-color: #03045e;}
text {color: #fb8500;}
link {color: #ffb703;}
head {color: #023e84;}
nav {background-color: #03045e;}
nav ul li a { color: white; }
h1, h2, h3, h4, h5 {color: #fb8500;}