body {background-color: #0f118e;}
body {color: #fb8500}
a {color: #fb8500;}
link {color: #ffb703;}
head {color: #023e84;}
nav {background-color: #03045e;}
nav ul li a { color: #fb8500}
h1, h2, h3, h4, h5, h6 {color: #fb8500;}