p.a {
    font-family:'Times New Roman', Times, serif}
body{
    font-family:'Times New Roman', Times, serif}

h1, h2 {text-align: center;
text-decoration: dashed;}

nav {text-align: left;
text-decoration: dashed;}

h1 {text-align: center;}








